.parent{
    position: relative;
    height: 200vh;
}

.child-one{
    /* position: relative;
    top: 10px; */
    /* position: absolute;
    top: 0;
    right: 0; */
    /* position: fixed;
    top: 0;
    right: 0; */

    position: sticky;
    top: 0;

}

.child-two{
    
}

.child-three{
    
}